In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

In [2]:
def get_excel_columns(n_cols):
    col_list = []
    n = n_cols
    alpha_list = [chr(c) for c in range(ord('A'), ord('Z') + 1)]
    alpha_list.insert(0,'dummy')
    for i in range(1,n+1):
        col_i = ""
        index_list=[]
        p=[]
        while i>26:
            k = i%26
            i = i//26
            if k==0:
                index_list.append(26)
                i = i-1
            else:
                index_list.append(k)
        index_list.append(int(i))
        index_list.reverse()
        for i in index_list:
            p.append(alpha_list[i])
            col_i = "".join(p)
        col_list.append(col_i)
    return col_list

In [4]:
df = pd.read_csv("shuttle.csv", header = None)
df.columns = get_excel_columns(len(df.columns))
print(df.shape)
df.head()

(46464, 10)

       A    B      C    D     E     F    G      H      I  J
0  108.0  3.0  109.0  0.0  72.0   7.0  1.0   36.0   36.0  o
1   81.0  0.0   84.0  0.0 -14.0  -2.0  4.0  100.0   96.0  o
2   81.0  0.0   84.0  0.0 -20.0  16.0  4.0  105.0  102.0  o
3   76.0 -1.0   81.0  0.0 -42.0  -3.0  5.0  125.0  120.0  o
4  105.0  0.0  107.0  2.0  70.0   0.0  1.0   37.0   36.0  o

In [9]:
X = df[get_excel_columns(len(df.columns) - 1)].values.astype(float)
scaler = StandardScaler()
X = scaler.fit(X).transform(X.astype(float))
X.shape

(46464, 9)

In [6]:
y = df.iloc[:,-1]
len(y)

46464

In [12]:
y_array = y.to_numpy().astype(str)
y_array = np.where(y_array == 'o', -1, 1)
y_array

array([-1, -1, -1, ...,  1,  1,  1])

In [13]:
error_rate = []
accuracy = []

for i in range(1,30):
    lof = LocalOutlierFactor(n_neighbors = i, contamination = 0.4)
    y_hat_i = lof.fit_predict(X)
    n_errors_i = (y_hat_i != y_array).sum()
    error_rate.append(n_errors/len(y_array))
    accuracy.append((len(y_array)-n_errors)/len(y_array))

print(error_rate)
print(accuracy)

NameError: name 'n_errors' is not defined