# KNN on http requests data

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

# Load Data

In [28]:
df = pd.read_csv("HBOS_requests.csv", header = None)
print(df.shape)
df.head()

(620098, 30)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,215.0,45076.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,n
1,0.0,162.0,4528.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,n
2,0.0,236.0,1228.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,n
3,0.0,233.0,2032.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,n
4,0.0,239.0,486.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.0,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,n

In [29]:
def get_excel_columns(n_cols):
    col_list = []
    n = n_cols
    alpha_list = [chr(c) for c in range(ord('A'), ord('Z') + 1)]
    alpha_list.insert(0,'dummy')
    for i in range(1,n+1):
        col_i = ""
        index_list=[]
        p=[]
        while i>26:
            k = i%26
            i = i//26
            if k==0:
                index_list.append(26)
                i = i-1
            else:
                index_list.append(k)
        index_list.append(int(i))
        index_list.reverse()
        for i in index_list:
            p.append(alpha_list[i])
            col_i = "".join(p)
        col_list.append(col_i)
    return col_list

In [30]:
n_cols = len(df.columns)
n_cols

30

In [31]:
df.columns = get_excel_columns(n_cols)
df.head()

,A,B,C,D,E,F,G,H,I,J,...,U,V,W,X,Y,Z,AA,AB,AC,AD
0,0.0,215.0,45076.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,n
1,0.0,162.0,4528.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,n
2,0.0,236.0,1228.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,n
3,0.0,233.0,2032.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,n
4,0.0,239.0,486.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.0,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,n

## Train - Test split

In [32]:
X = df[get_excel_columns(len(df.columns)-1)].values.astype(float)
X[0:5]

array([[0.0000e+00, 2.1500e+02, 4.5076e+04, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00],
       [0.0000e+00, 1.6200e+02, 4.5280e+03, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00],
       [0.0000e+00, 2.3600e+02, 1.2280e+03, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 2.0000e+00,
        2.0000e+00, 1.0000e+00, 0.0000e+00, 5.0000e-01, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00],
       [0.0000e+00, 2.3300e+02, 2.0320e+03, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 3.0000e+00,
        3.0000e+00, 1.0000e+00, 0.0000e+00, 3.3000e-01, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00],
       [0.0000e+00, 2.3900e+02, 4.8600e+02, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.0000e+00, 3.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 4.0000e+00,
        4.0000e+00, 1.0000e+00, 0.0000e+00, 2.5000e-01, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00]])

In [34]:
y = df.iloc[:,-1]
print(len(y))
y[0:5]

620098

0    n
1    n
2    n
3    n
4    n
Name: AD, dtype: object

In [38]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:5]

array([[-1.16294469e-02, -4.32973323e-02,  1.72942298e+00,
        -5.10028721e-02,  3.09800674e-01, -2.07349032e-02,
        -1.78267406e-02, -3.59184535e-03, -3.11062430e-03,
        -7.37444027e-02, -8.02055070e-01, -9.31926855e-01,
        -6.56562448e-02, -7.81214827e-02, -3.09239344e-01,
        -3.12640389e-01,  3.13775971e-02, -2.41359319e-02,
        -5.13582335e-01, -1.20586913e+00, -6.04285618e+00,
        -3.00792173e+01, -8.36026309e-02, -4.02140729e-01,
        -6.27757451e-01, -6.25505504e-02, -5.25355892e-02,
        -3.18988541e-01, -3.22972022e-01],
       [-1.16294469e-02, -7.83989779e-02,  1.80933613e-02,
        -5.10028721e-02,  3.09800674e-01, -2.07349032e-02,
        -1.78267406e-02, -3.59184535e-03, -3.11062430e-03,
        -7.37444027e-02, -7.02303161e-01, -8.46679267e-01,
        -6.56562448e-02, -7.81214827e-02, -3.09239344e-01,
        -3.12640389e-01,  3.13775971e-02, -2.41359319e-02,
        -5.13582335e-01, -1.19642600e+00, -6.01813955e+00,
         9.82505799e-02, -8.36026309e-02,  4.97963351e+00,
        -6.27757451e-01, -6.25505504e-02, -5.25355892e-02,
        -3.18988541e-01, -3.22972022e-01],
       [-1.16294469e-02, -2.93891330e-02, -1.21183243e-01,
        -5.10028721e-02,  3.09800674e-01, -2.07349032e-02,
        -1.78267406e-02, -3.59184535e-03, -3.11062430e-03,
        -7.37444027e-02, -8.02055070e-01, -9.31926855e-01,
        -6.56562448e-02, -7.81214827e-02, -3.09239344e-01,
        -3.12640389e-01,  3.13775971e-02, -2.41359319e-02,
        -5.13582335e-01, -1.18698288e+00, -5.99342292e+00,
         9.82505799e-02, -8.36026309e-02,  2.28874639e+00,
        -6.27757451e-01, -6.25505504e-02, -5.25355892e-02,
        -3.18988541e-01, -3.22972022e-01],
       [-1.16294469e-02, -3.13760186e-02, -8.72503972e-02,
        -5.10028721e-02,  3.09800674e-01, -2.07349032e-02,
        -1.78267406e-02, -3.59184535e-03, -3.11062430e-03,
        -7.37444027e-02, -7.02303161e-01, -8.46679267e-01,
        -6.56562448e-02, -7.81214827e-02, -3.09239344e-01,
        -3.12640389e-01,  3.13775971e-02, -2.41359319e-02,
        -5.13582335e-01, -1.17753975e+00, -5.96870629e+00,
         9.82505799e-02, -8.36026309e-02,  1.37384477e+00,
        -6.27757451e-01, -6.25505504e-02, -5.25355892e-02,
        -3.18988541e-01, -3.22972022e-01],
       [-1.16294469e-02, -2.74022474e-02, -1.52499376e-01,
        -5.10028721e-02,  3.09800674e-01, -2.07349032e-02,
        -1.78267406e-02, -3.59184535e-03, -3.11062430e-03,
        -7.37444027e-02, -6.02551252e-01, -7.61431680e-01,
        -6.56562448e-02, -7.81214827e-02, -3.09239344e-01,
        -3.12640389e-01,  3.13775971e-02, -2.41359319e-02,
        -5.13582335e-01, -1.16809663e+00, -5.94398965e+00,
         9.82505799e-02, -8.36026309e-02,  9.43302829e-01,
        -6.27757451e-01, -6.25505504e-02, -5.25355892e-02,
        -3.18988541e-01, -3.22972022e-01]])

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)
print("Train Data: ", X_train.shape, y_train.shape)
print("Test Data: ", X_test.shape, y_test.shape)

Train Data:  (496078, 29) (496078,)
Test Data:  (124020, 29) (124020,)

### Classification using KNN

In [ ]:
error_rate = []
for i in range(1,5):
    KNN = KNeighborsClassifier(n_neighbors = i)
    KNN.fit(X_train, y_train)
    y_hat = KNN.predict(X_test)
    error_rate.append(np.mean(y_hat != y_test))
error_rate

In [41]:
rofl = sns.lineplot(range(1,40), error_rate, markers = True, dashes = False)

ValueError: arrays must all be same length